


/* как сделать изображения адаптивными если они являются активными

активные изображения - изображения с помощью которых наш сайт будет продвигаться по картинкам*/




* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
     /* задаем align-items чтобы картинка не стретчилась на весь экран */
}

.box {
    border: 1px solid red;
    /* вспомогательный бордер чтобы видеть границы */
}

img {
    /* это база */
    max-width: 1000px;
    width: 100%;
    height: 500px;

    object-fit: cover;
    /* сохранение пропорций */
    object-position: center;
    /* центрирует скукоживание */
}
