


/* как сделать сетку из изображений как в ютуб 

особенность - элементы не просто скидываются, а пропорционально уменьш/уыелич и по высоте и по ширинк*/




* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* grid-auto-rows: 250px; */
    gap: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio:  16 / 9;
    /* aspect ratio сохраняет пропорции 
    можно смотреть шпаргалку соотношения сторон*/
}
